@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* 
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Rubik', sans-serif;
*/


/* global reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* global variables */
:root {
    /* spacing */
    --sm: 2%;
    --md: 5%;
    --lg: 10%;

    /* dev borders */
    /* --wireframe: 2px solid darkblue;
    --debugging: 2px dotted darkred;
    --component: 2px solid darkgreen; */

    /* font style */
    --font: 'Poppins', sans-serif;

    /* light mode | darkmode */
    --mode: #000;
    --mode-background: #FFF;
    --mode-overlay: rgba(241,237,237,0.4);
    --mode-transparent: rgba(0,0,0,0.19);
    /* --mode-transparent: rgba(255, 255, 255, 0.19); */

    --color: var(--mode);
}

/* global html */
html {
    /* page scroll props */
    scroll-behavior: smooth;
    font-family: var(--head-font);

    font-family: var(--font);
    /* page font props */
    
}


header {
    height: 100vh;
    width: 100%;

    position: relative;
    
}
.header-video {
    /* position props [ absolute 0 0 ] */
    position: absolute;
    top: 0;
    left: 0;

    /* component dimensions */
    height: 100%;
    width: 100%;

    /* component props */
    overflow: hidden;
}
.header-video:after {
    /* content props */
    content: '';

    /* position props [ absolute ] */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    /* background: rgba(90, 65, 90, 0.411); */
}
.header-video video {

    /* video dimensions */
    min-width: 100%;
    min-height: 100%;

    /* element object size */
    object-fit: cover;

    /* position props [ absolute 50% 50% ] */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .overlay {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #FFF;

    z-index: 10;
}
header h1 {
    font-size: 2rem;
    text-transform: uppercase;
    /* letter-spacing: 0.25rem; */
}
header h6 {
    font-size: 1.25rem;
    text-transform: capitalize;
    letter-spacing: 0.25rem;
    

    padding-bottom: var(--lg);

}


.section-x img {
    min-height: 100vh;
}


/* article component [ introduction ] */
article {

    min-height: 100vh;
    min-width: 100vw;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* background props */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    /* background: #000; */
    color: #000;
}
.introduction .elmnts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    height: 100%;
    width: 100%;

    /* border: 2px solid red; */
}
.introduction .elmnts:nth-child(1) {
    min-height: 80vh;
}
article h2 {
    
    text-transform: uppercase;
    padding-bottom: var(--sm); 
    font-size: 1.75rem;
}
article .text {
    line-height: 1.6;
    font-size: 0.85rem;
    text-align: left;
    padding-left: var(--sm);
}

.introduction ul {
    display: flex;
    width: 100%;
    
}
.introduction ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 1rem;
    width: 100%;

    /* border: 2px solid red; */
}
.introduction .skills li i {
    font-size: 1.5rem;
}

.introduction .desktop {
    display: none;
}


.helper {
    font-size: 1.05rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;

    /* border: 0.1rem solid #000; */
    
}






.wrapper-x .section-x:nth-child(5) {
    width: 100%;
}






.text-hidden {display: none;}

/* btn left */
.left {
    position: absolute;
    top: 50%;
    right: 0;

    font-size: 4rem;
    padding: var(--sm);
    text-transform: uppercase;
    text-decoration: underline;

}


/* btn down */
.down {

    border: none;
    height: 100px;
    width: 100px;

    position: absolute;
    bottom: 0;
    
    

    
    z-index: 100;

    background: transparent;

    font-size: 4rem;
    color: #FFF;

    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    
}



@keyframes bounce {
    0% {
        transform: translateY(-0%);

    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(-0%);
    }
}










/* .slider {
    transform: scale(0.98);
    transition: all 0.2s;
}
.slider.active {
    transform: scale(1);
} */




































































article .text-hidden {

    padding-top: var(--md);
    /* dev */
    /* border: 2px solid red; */
}




.mobile_introduction {
    display: flex;
}
.introduction .desktop_introduction {
    display: none;
}


.icon img {
    max-width: 30px;
    max-height: 30px;
}






/* media query [ desktop ] */
@media (min-width: 760px) {

    
    /* global image props */
    /* img {
        max-width: 100vw;
        max-height: 100vh;

        height: 100vh;
        width: 100vw;
    } */

    /* img {
        height: 100vh;
    }

    #everist_render_01 {
        width: 100vw;
    }
    #everist_render_02 {
        width: 100%;
    }
    .working-drawing-container {
        min-width: 200vw;
    }
    .working-drawings {
        width: 100%;
    } */

    html {
        scroll-behavior: smooth;   
    }

    .introduction .desktop_introduction {
        display: flex;
    }
    .introduction .mobile_introduction {
        display: none;
    }

    /* .section-x {border: 2px solid red;} */

    .working-drawing-container {
        min-width: 100vw;
    }
    
    .section-x img {
        height: 100%;
        width: 100%;

    }

    #thouse_render {
        /* margin-left: var(--sm); */

        /* set via javascript *//* set via javascript *//* set via javascript */
        /* set via javascript *//* set via javascript *//* set via javascript */
        
        min-width: 66vw;
    }
    /* 
    header component

    full screen video element

    contains :
        1. header
        2. header-video
        3. header-content

*/
.header {
    /* position props [ relative ] */
    position: relative;
    
    /* display props [ flex-center-center ] */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* component dimensions */
    min-height: 100vh;
    
    width: 100%;

    /* component props */
    color: #FFF;
    font-family:  'Syncopate', sans-serif;



    /* DEVELOPER REMOVAL */
    /* display: none; */

}
.header-video {
    /* position props [ absolute 0 0 ] */
    position: absolute;
    top: 0;
    left: 0;

    /* component dimensions */
    height: 100%;
    width: 100%;

    /* component props */
    overflow: hidden;
}
.header-video:after {
    /* content props */
    content: '';

    /* position props [ absolute ] */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    /* background: rgba(90, 65, 90, 0.411); */
}
.header-video video {

    /* video dimensions */
    min-width: 100%;
    min-height: 100%;

    /* element object size */
    object-fit: cover;

    /* position props [ absolute 50% 50% ] */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header .overlay {

    /* z index props */
    z-index: 10;

    /* dev */
    /* border: var(--wireframe); */
}
.header h1 {
    display: flex;
    /* flex-direction: column; */
    font-size: 7.25rem;
    text-transform: uppercase;
    letter-spacing: 1.25rem; 
    text-shadow: 1px 1px 2px black;

}
.header h1 .space {
    /* border: 2px solid #000;
    background: #000; */
    /* width: 90px; */
}
.header h6 {
    /* padding-top: var(--sm); */
    font-size: 1.5rem;
    text-transform: capitalize;
    /* letter-spacing: 0.25rem; */

    text-shadow: 1px 1px 2px black;
}
.header h1 span {
    
    /* component props */
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 0.45rem;

    /* padding props */
    padding-top: var(--sm);
    /* padding-bottom: var(--sm); */
    padding-bottom: var(--md);
    
}

/* .header button {
    background: transparent;
    border: 2px solid #FFF;
    padding: var(--sm);
    min-width: 155px;
    font-size: 1.05rem;
    letter-spacing: 0.12rem;
    color: #FFF;
} */


/* 
    global image props

*/

/* img {
    height: 100%;
    width: 100%;
} */















.introduction {
    /* background: red; */

    min-width: 100%;

    flex-direction: row;
}

/* .introduction .elmnts {
    background: blue;
    border: 2px solid #000;

    
} */


.introduction #introduction-mobile {
    display: none;
}
.introduction #introduction-desktop {
    display: flex;
}
.introduction a {
    color: #FFF;
}

.introduction .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;

    
    /* dev */
    /* border: 2px solid darkgreen; */
}
.introduction h6 {
    font-size: 1rem;
    /* padding-left: var(--lg); */

    width: 10%;
    

    /* dev */
    /* border: 2px solid red; */
}



article ul {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
article ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* margin-bottom: calc(var(--sm) * 1.5); */

    padding-bottom: calc(var(--sm) * 1.5);
    /* dev */
    /* border: 2px solid #000; */
}



.introduction ul li {
    background: #FFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




.wrapper-x .section-x:nth-child(1) {
    width: 35vw;
    max-width: 35vw;
    

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    /* dev */
    /* background: red; */
}
.wrapper-x .section-x:nth-child(2) {
    

    /* overflow: hidden; */

    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */

    
}

article {
    

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    min-width: 33vw;
    max-width: 33vw;

    

    
    

    background: #FFF

}
article h2 {

    padding: 0;
    margin: 0;

    padding-bottom: var(--lg);
    /* dev */
    /* border: 2px solid darkblue; */
}
article .text {
    
    text-align: center;
    /* max-width: 400px; */


    padding: var(--sm) var(--lg);
    /* border: 2px solid darkblue; */
    
}
article .text-hidden {
    padding-top: var(--sm);

    border: none;
}

.introduction .elmnts {
    /* background: red; */

    
    justify-content: space-around;
}
/* new code [ article component - introduction *//* new code [ article component - introduction *//* new code [ article component - introduction */
/* new code [ article component - introduction *//* new code [ article component - introduction *//* new code [ article component - introduction */




/* 
    section component
    
    reactive project content

    contains :
        1. div [ content-info ]
        2. div [ project-type ]
        3. div [ content-project ] banner image
*/
/* section {


    display: flex;
    justify-content: center;
    align-items: center;



    min-height: 100vh !important;
    height: 100vh;

    width: 100%;




    overflow: auto;


} */
section .content-information,
section .content-project {
    height: 100%;
    width: 100%;
}
.content-information {

    /* display props [ flex - center - center ] */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    
    max-width: 25vw;

    /* padding-right: var(--lg);
    padding-left: var(--sm); */

    /* dev */
    border: var(--component);


    /* border: 2px solid red; */
}
.content-information h2 {
    padding-bottom: var(--sm);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 2.45rem;

    padding-left: var(--md);
}
.content-information .text {
    text-align: left;
    max-width: 400px;
    padding-left: var(--md);
}
.content-slider {

    display: flex;

    /* padding: var(--md); */

    height: 100%;
    width: 100%;
}
.content-slider img {
    max-width: 700px;
    min-height: 100vh;

    /* min-width: 100vw; */
}

.content-project {

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;

    /* dev */
    border: var(--component);
    /* background: green; */

    /* dimensions */
    


}

/* content project [ image ] */
.content-project img {
    height: 100%;
    width: 100%;
    max-width: 700px;

    /* min-width: 3564px; */
    
}




.icon,
.icon img {
    max-width: 70px;
    max-height: 70px;

}




/* footer component */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    
}
footer h6 {
    font-size: 5rem;
    text-transform: capitalize;
    letter-spacing: 0.23rem;
}
footer ul {

    list-style: none;
    /* border: 2px solid red; */

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: var(--lg);

    width: 100%;
    min-height: 200px;
}
footer ul li  {
    text-transform: uppercase;
    letter-spacing: 2px;
}







/* working drawings */
.working-drawing-container {
    min-width: 200vw;
}





























.content-project {
    overflow-y: hidden;
    overflow-x: scroll;
}

.solos {

    /* border: 2px solid red; */
    /* width: 100vw; */
    /* max-height: 100vh; */

    padding: var(--sm);

    position: relative;
    /* overflow: hidden; */

    /* DEVELOPER REMOVAL */
    display: none;
}




}