@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

/* global reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* global variables */
:root {
    /* spacing */
    --sm: 2%;
    --md: 5%;
    --lg: 10%;

    /* dev borders */
    --wireframe: 2px solid darkblue;
    --debugging: 2px dotted darkred;
    --component: 2px solid darkgreen;

    --headerOpacity: 1;
    --headerScale: 1;

    /* font style */
    --font: 'Poppins', sans-serif;
    --font2: 'Work Sans', sans-serif;

    /* colors */
    
    /* light mode | darkmode */
    /* --mode: #000;
    --mode-background: #FFF;
    --mode-overlay: rgba(241,237,237,0.4);
    --mode-transparent: rgba(0,0,0,0.19);
    --mode-transparent: rgba(255, 255, 255, 0.19); */

    /* --color: var(--mode); */
}
html {
    scroll-behavior: smooth;
}
.wrapper-y {
    height: 100vh;
    width: 100%;
    
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    position: relative;

}

.wrapper-x {
    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 100%;
    
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    scrollbar-width: none;
}

.section-x,
.section-y {
    height: 100vh;
    width: 100%;
}

.section-x, .section-y {
    
    
    /* scroll snap align for each section container */
    scroll-snap-align: center;
    scrollbar-width: none;

    /* border: 2px solid red; */
}

/* .section-y:nth-child(1) {background: red;}
.section-y:nth-child(2) {background: orange;}
.section-y:nth-child(3) {background: purple;}
.section-y:nth-child(4) {background: blue;}

.section-y:nth-child(1) {background: green;}
.section-y:nth-child(2) {background: yellow;}
.section-y:nth-child(3) {background: pink;}
.section-y:nth-child(4) {background: lightcoral;} */

section {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    
}


@media (min-width: 700px) {

    .section-x {
        height: 100vh;
        width: 100%;
        min-width: 33vw;
    
    }
    .section-y {
        height: 100vh;
        width: 100%;

        /* transition: all 2s ease-in; */
    }
}

@media (min-width: 800px) {

    .wide-image {
        width: 100%;
    }


    /* .section-x:nth-child(1) {
        width: 30vw;
        min-width: 30vw;
    }
    .section-x {
        height: 100vh;
        width: 50vw;
        min-width: 50vw;
    
    }
    .section-y {
        height: 100vh;
        width: 100vw;
        min-width: 100vw;
    } */
}

